{% extends "bridge/base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2>
    {% if create %}
        Add new Post
    {% else %}
        Edit
    {% endif %}
  </h2>

  <form id="form" action="?{{ request.query_string }}" method="post" class="well">
    {{ forms.render(form) }}
    <div style="padding-top:10px">
    <div id="epiceditor"></div>
    <div style="padding-top:10px">
      <input type="button" class="btn btn-primary" onclick="formSubmit()" value="save">
      <a href="{{ url_for("bridge.index") }}" class="btn btn-default">Cancel</a>
    </div>
  </form>

{% endblock %}
