{% extends "admin/base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2>
    {% if create %}
        Add new Post
    {% else %}
        Edit
    {% endif %}
  </h2>

  <form action="?{{ request.query_string }}" method="post" class="well">
    {{ forms.render(form) }}
    <div style="padding-top:10px">
      <input type="submit" class="btn btn-primary" value="save">
      <a href="{{ url_for("admin.index") }}" class="btn btn-default">Cancel</a>
    </div>
  </form>
{% endblock %}
